body {
    font-family: Arial, sans-serif;
    background-color: #d4edda; /* Cor de fundo verde claro */
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff; /* Cor de fundo branca para o conteúdo */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.articles {
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

.articles h2 {
    margin-bottom: 30px; /* Adicione espaço entre o título e o iframe */
}

.iframe-container {
    display: flex; /* Use flexbox para centralizar */
    justify-content: center; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
    border-radius: 10px; /* Adicione bordas arredondadas */
    overflow: hidden; /* Oculte o conteúdo extra */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione sombra suave */
}

.articles iframe {
    max-width: 100%; /* Tamanho máximo do iframe */
    border: none; /* Remova a borda do iframe */
}

.sustainability-tips {
    padding: 20px;
    background-color: #d4edda; /* Cor de fundo verde claro */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.sustainability-tips b::before {
    content: counter(tip) ". ";
    counter-increment: tip;
    font-weight: bold;
    margin-right: 5px;
}
