body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
/* Estilos para o calendário */
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Cor de fundo */
    color: #555; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    outline: none; /* Remove a borda de foco */
}

/* Estilo para o ícone do calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 20px; /* Ajusta o tamanho do ícone */
    color: #777; /* Cor do ícone */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}